.medicine-cards{
    display: flex;
    flex-wrap: wrap;
}
.medicine-card{
    width: 32.33%;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1), -2px -2px 10px rgba(0, 0, 0, 0.1);
}
.medicine-image img{
    height: 250px;
}

.medicine-image{
    display: flex;
    justify-content: center;
}
.pharmacy-addto-cart{
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1), -2px -2px 10px rgba(0, 0, 0, 0.1);
}
.cart{
    background-color: rgba(33, 132, 187, 0.2);
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
}